@import "ext/normalize.css";
@import 'ext/fuentes.css';

*
{
	min-width:0px;

	margin:0px;
	padding:0px;

	font-family:RethinkSansRegular;
	box-sizing: border-box;
}

:root
{
	--nord0:#2e3440;
	--nord1:#3b4252;
	--nord2:#434c5e;
	--nord3:#4c566a;

	--nord4:#d8dee9;
	--nord6:#eceff4;
}

.menu-sgi
{
	width:100%;
	height:min-content;

	background-color:var(--nord3);
	font-size:0px;

	list-style: none;

	li
	{
		display:inline-block;
		width:min-content;
		height:inherit;
	}

	a
	{
		display:inherit;
		width:80px;

		padding:10px;

		background-color:var(--nord3);

		color:var(--nord6);
		font-size:1rem;
		text-decoration:none;
		text-align:center;

		&:hover
		{
			background-color:var(--nord6);
			color:var(--nord3);
		}
	}

	.submenu-sgi
	{
		display:inline-block;

		.submenu-sgi-lista
		{
			display:none;
			position:absolute;
		}

		&:hover .submenu-sgi-lista
		{
			display:block;
		}
	}
}

.main
{
	z-index:-1;
	position:relative;

	width:100%;

	.lista
	{
		overflow:scroll;

		position:fixed;
		left:0px;

		width:80%;
		height:100%;
		background-color:var(--nord1);

		/* color del texto */
		color:var(--nord6);
	}

	.sidebar
	{
		display:flex;
		justify-content:center;
		align-items:center;

		position:fixed;
		right:0px;

		width:20%;
		height:100%;
		background-color:var(--nord3);

		/* color del texto */
		color:var(--nord6);
	}
}

.tabla-productos
{
	width:100%;
	border-collapse:collapse;

	th, td
	{
		padding:10px;
		border:2px solid var(--nord4);
	}

	/* cabecera de tabla */
	.tabla-head > th
	{
		background-color: var(--nord3);
	}

	/* resto de filas*/
	.tabla-data:nth-child(even)
	{
		background-color: var(--nord2);
	}
}
