@import "ext/normalize.css";
@import 'ext/fuentes.css';

*
{
	margin:0px;
	padding:0px;

	font-family:RethinkSansRegular;
	box-sizing: border-box;
}

:root
{
	--nord0:#2e3440;
	--nord1:#3b4252;
	--nord2:#434c5e;
	--nord3:#4c566a;

	--nord4:#d8dee9;
	--nord6:#eceff4;
}

.menu-sgi
{
	list-style: none;
	/* background-color:var(--nord1); */

	li
	{
		display:inline-block;
	}
}
