@import "ext/normalize.css";
@import 'ext/fuentes.css';

*
{
	margin:0px;
	padding:0px;

	font-family:RethinkSansRegular;
	box-sizing: border-box;
}

:root
{
	--nord0:#2e3440;
	--nord1:#3b4252;
	--nord2:#434c5e;
	--nord3:#4c566a;

	--nord4:#d8dee9;
	--nord6:#eceff4;
}

body
{
	background-color:var(--nord1);
}

.menu-sgi
{
	width:100%;
	height:min-content; 

	background-color:var(--nord2);
	font-size:0px;

	list-style: none;

	li
	{
		display:inline-block; 
		width:min-content;
		height:inherit;
	}

	a
	{
		display:inherit; 
		width:80px;

		padding:10px;

		background-color:var(--nord3);

		color:var(--nord6);
		font-size:1rem;
		text-decoration:none;
		text-align:center;

		&:hover
		{
			background-color:var(--nord6);
			color:var(--nord3);
		}
	}
}

.submenu-sgi
{
	display:inline-block;

	.submenu-sgi-lista
	{
		display:none;
		position:absolute;
	}

	&:hover .submenu-sgi-lista
	{
		display:block;
	}
}
