@import "ext/normalize.css";
@import "ext/general.css";

@import "ext/menu-lateral.css";

.ContenedorPrincipal
{
	position: absolute;
	top: 0px;
	right: 0px;

	width: calc(100% - 180px);
	height: 100%;

	.Encabezado
	{
		position: absolute;
		top: 0px;
		left: 0px;
		
		padding-left: 20px;
		padding-right: 20px;

		width: 100%;

		.Nombre
		{
			margin-bottom: 10px;
		}

		.Descripcion
		{
			padding-bottom: 20px;
			border-bottom: solid 2px var(--nord3);
		}
	}

	.AreaTrabajo
	{
		position: absolute;
		left: 0px;
		bottom: 0px;

		padding: 20px;

		width: 100%;
		height: calc(100% - 109px);

		.BarraHerramientas
		{
			display: grid;
			gap: 20px;
			grid-template-columns: 195px 300px auto;
			
			width: 100%;
			height: min-content;

			.BotonAgregarProducto
			{
				padding: 5px;
				padding-left: 40px;

				border: 0px;

				background-color: #007f7f;
				background-image: url("../img/botones/agregar-seleccion.png");
				background-repeat: no-repeat;
				background-position: 5% 50%;
				background-size: 16%;


				color: var(--nord6);

				&:hover
				{
					cursor: pointer;
					background-color: var(--nord0);
				}
			}

			.BarraBusqueda
			{
				padding: 5px;
				padding-left: 46px;

				border: 0px;

				background-color: var(--nord7);
				background-image: url("../img/botones/buscar.png");
				background-repeat: no-repeat;
				background-position: 3% 50%;
				background-size: 10%;

				color: var(--nord0);
			}

			.ContadorProductos
			{
				padding: 5px;
				text-align: right;

				span
				{
					font-size: 2rem;
					font-weight: bold;
				}
			}
		}

		.TablaProductos
		{
			overflow-y: scroll;

			position: relative;
			top: 20px;
			left: 0px;

			width: inherit;
			height: calc(100% - 95px);

			background-color: lightblue;

			table
			{
				/*
				position: absolute;
				top: 0px;
				left: 0px;
				*/

				width: 100%;
				border-spacing: 0px;

				thead
				{
					position: sticky;
					top: 0px;
					left: 0px;

					background-color: var(--nord10);
					color: var(--nord6);

					th
					{
						padding: 10px;

						&:nth-child(even)
						{ background-color: rgba(255, 255, 255, 0.08); }
					}

				}

				tbody
				{
					background-color: var(--navbar2);

					tr
					{
						&:nth-child(even)
						{ background-color: var(--navbar); }

						&:hover
						{
							background-color: var(--nord6);
							cursor: pointer;
						}
					}

					td
					{
						padding: 10px;

						&:nth-child(even)
						{ background-color: rgba(255, 255, 255, 0.4); }
					}
				}
			}
		}
	}
}

.ModalFondo
{
	z-index: 1;

	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(00, 00, 00, 0.5);

	.ModalAgregarProductos
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		aspect-ratio: 16 / 9;
		width: 900px;

		.FormularioProductos
		{
			display: flex;
			flex-direction: column;
			gap: 15px;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 500px;
			height: min-content;

			.GridFilaUno, .GridFilaDos, .GridFilaTres, .GridFilaCuatro
			{
				display: grid;
				gap: 15px;
			}

			.GridFilaUno
			{ grid-template-columns: 157px auto; }

			.GridFilaDos
			{ grid-template-columns: auto auto auto; }

			.GridFilaCuatro
			{ grid-template-columns: auto auto; }

			.CodigoProducto, .NombreProducto, .CantidadProducto, .PrecioProducto, .UnidadMedidaProducto, .ProveedorProducto, .CategoriaProducto
			{
				padding: 15px;

				border: 0px;
				background-color: var(--nord7);
				color: var(--nord0);
			}

			.BotonConfirmar
			{
				padding: 15px;
				padding-left: 40px;

				border: 0px;

				background-color: #007f7f;
				background-image: url("../img/botones/paloma-seleccion.png");
				background-repeat: no-repeat;
				background-position: 25% 50%;
				background-size: 12%;


				color: var(--nord6);

				&:hover
				{
					cursor: pointer;
					background-color: var(--nord0);
				}
			}

			.BotonCancelar
			{
				padding: 15px;
				padding-left: 40px;

				border: 0px;

				background-color: var(--nord11);
				background-image: url("../img/botones/equis-seleccion.png");
				background-repeat: no-repeat;
				background-position: 25% 50%;
				background-size: 12%;


				color: var(--nord6);

				&:hover
				{
					cursor: pointer;
					background-color: var(--nord0);
				}
			}
		}
	}
}
