@import "ext/normalize.css";
@import "ext/general.css";

form
{
	position: fixed;

	width: 100%;
	height: 100%;

	background-color: var(--nord0);

	fieldset
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 15px;

		width: min-content;
		height: min-content;

		border: solid 2px var(--nord2);
		background-color: var(--nord1);

		color: var(--nord6);

		legend
		{
			padding: 6px;
			background-color: var(--nord3);

		}

		.nombre-campo
		{
			display: block;

			margin-bottom: 5px;
			width: 400px;

			color: var(--nord6);
		}

		input
		{
			display: block;

			margin-bottom: 10px;
			padding: 5px;

			width: 400px;

			border: solid 2px var(--nord3);
			background-color: var(--nord2);

			color: var(--nord6);

			&:focus
			{
				background-color: var(--nord4);
				color: var(--nord2);
			}
		}

		button
		{
			margin-top: 10px;
			padding: 5px;

			border: solid 2px var(--nord3);
			background-color: var(--nord2);

			color: var(--nord6);

			&:hover
			{
				cursor: pointer;

				background-color: var(--nord4);
				color: #000000;
			}
		}
	}
}

