@import "ext/normalize.css";
@import "ext/general.css";

/* reescribiendo este código de mierda */
body
{
	background-color: var(--nord0);
}

.SesionLogin
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px 10px 10px 10px;
	width: 350px;

	border: 2px solid var(--nord3);
	background-color: var(--nord1);

	.TituloLogin
	{
		position: absolute;
		top: 0px;
		left: 0px;

		padding: 6px;

		background-color: var(--nord3);

		color: var(--nord6);
		font-weight: bold;
	}

	.CamposLogin
	{
		width:100%;

		input
		{
			display: block;
			margin-bottom: 10px;

			padding: 6px;
			width: inherit;

			border: none;
			background-color: var(--nord2);

			color: var(--nord6);

			&:hover
			{
				background-color: var(--nord3);
			}

			&:focus
			{
				background-color: var(--nord4);
				color: var(--nord2);
			}
		}
	}

	.BotonesLogin
	{
		display: flex;
		gap:10px;
		justify-content: center;

		button
		{
			padding: 6px;
			width: 100px;

			border: none;
			background-color: var(--nord2);

			color: var(--nord6);

			&:hover
			{
				background-color: var(--nord3);
				cursor: pointer;
			}

			&:active
			{
				background-color: var(--nord4);
				color: var(--nord2);
			}
		}
	}
}

.VersionSGI5
{
	position: fixed;
	bottom: 0px;
	left: 0px;

	padding: 6px;

	background-color: var(--nord3);
	color: var(--nord6);
}
